###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# CODE HERE
person1={"Name":"Srikanth","Gender":"Male","Occupation":"Data Scientist","Location":"Nijampet,Hyderabad"}
print(person1)

In [2]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [ ]:
# CODE HERE
person1={"Name":"Srikanth","Gender":"Male","Occupation":"Data Scientist","Location":"Nijampet,Hyderabad"}
keys=person1.keys()
print(keys)

In [3]:
#  CODE HERE

['Name', 'Gender', 'Occupation', 'Location']

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [ ]:
# CODE HERE
person2={"Name":"Srikanth","Gender":"Male","Occupation":"Data Scientist","Location":"Nijampet,Hyderabad"}
person1={"Age":27}
person1.update(person2)
print(person1)

In [5]:
person1

{'Age': 27,
 'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Remove Location in person1

In [1]:
# CODE HERE
person1.pop("Location")
print(person1)

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [7]:
# CODE HERE
person2={"Name":"Raghu Ram","Gender":"Male","Age":25,"Occupation":"Data Scientist"}
print(person2)

{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [8]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [9]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [8]:
# CODE HERE to append
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Location': 'Nijampet,Hyderabad'}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [9]:
person2.update(person1)
print(person2,person1)

{'Name': 'Srikanth', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist', 'Location': 'Nijampet,Hyderabad'} {'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Location': 'Nijampet,Hyderabad'}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)